[submodule "modules/common"]
	path = modules/common
	url = git://github.com/magnocosta/puppet-common.git
[submodule "modules/ruby"]
	path = modules/ruby
	url = git://github.com/magnocosta/puppet-ruby.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/magnocosta/puppet-mysql.git
[submodule "modules/java"]
	path = modules/java
	url = git://github.com/magnocosta/puppet-java-7.git
[submodule "modules/redis"]
	path = modules/redis
	url = git@github.com:magnocosta/puppet-redis.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = git@github.com:magnocosta/puppet-mongodb.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/magnocosta/puppet-postgresql
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/magnocosta/puppet-nginx
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/magnocosta/puppet-nodejs
